<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.zxing">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".activity.DefaultCaptureActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.google.zxing.activity.WeChatCaptureActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
    </application>

</manifest>
